.input-group input{
    width: 385px;
    height: 40px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 5px;
    display: block;
    margin: 5px auto;
}

.input-group textarea{
    width: 375px;
    height: 100px;
    padding-left: 5px;
    font-weight: 900;
}

.first-input{
    margin-bottom: 10px;
}

.form-submit {
    background-color: darkcyan;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.login{
    color: blue;
}

.error{
    color: red;
    margin: 0 auto;
}

#password-error{
    font-size: 10px;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.btn{
    background-color: darkcyan;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 40px;
}

.task-container{
    border: 1px solid gray;
    border-radius: 20px;
    background-color: darkcyan;
}

.button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}